body,html
{
    padding: 0;
    margin: 0;
}

html {
    background: url("../photos/background/landing_background.png") no-repeat center fixed;
    background-size: cover;
}

div{
    text-align: center;
}

.LI-profile-badge
{
    display: inline-block;
}

div.linear
{
    display: inline-block;
    text-align: center;
}

/*for global transparent*/
div.linearHeaderTransparent
{
    width: 100%;
    display: inline-block;
    text-align: center;
}

div.personalImage
{
    width: 100%;
    background-color: darkgray;
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
    background-image: url("../photos/personal/personal.jpg");
    height:100vh;
}

h1.linearHeaderTransparent,h2.linearHeaderTransparent
{
    size: 14px;
    color: lightgray;
}

/*Exowar style*/
div.linearHeaderExowar
{
    display: flex;
    width: 100%;
    background-color: lightslategray;
    /*background-1image: url("../photos/projects/exowar/exowar_background.png");*/
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderExowar,h2.linearHeaderExowar
{
    color: darkgray;
}

/*Master of typing style*/
div.linearHeaderMasterOfTyping
{
    width: 100%;
    /*background-image: url("../photos/projects/masteroftyping/mot_screen10.png");*/
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderMasterOfTyping,h2.linearHeaderMasterOfTyping
{
    color: darkgray;
}

/*Wizard swipe style*/
div.linearHeaderMobileApps
{
    width: 100%;
    background-color: #3498db;
    /*background-image: url("../photos/projects/wizzardswipe/loadscreen_wide.png");*/
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderMobileApps,h2.linearHeaderMobileApps
{
    color: darkgray;
}

/*Game projects style*/
div.linearHeaderOtherGameProjects
{
    width: 100%;
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

h1.linearHeaderOtherGameProjects,h2.linearHeaderOtherGameProjects
{
    color: darkslategray;
}

/*None game projects style*/
div.linearHeaderNonGameProjects
{
    width: 100%;
    background-color: #3498db;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderNonGameProjects,h2.linearHeaderNonGameProjects
{
    color: darkslategray;
}

* {
    box-sizing: border-box;
}

.linearHeaderEmail_background-image:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: url("../photos/projects/exowar/exowar_background.png");
    background-size:cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}


/*Other projects style*/
div.linearHeaderEmail
{
    width: 100%;
    background-color: azure;
    /*background-color: brown;*/
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

h1.linearHeaderEmail,h2.linearHeaderExowar
{
    color: darksalmon;
}

/*Global image style*/
image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    vertical-align: middle;
}

/*Global "p" style*/
p{
    color: lightslategray;
}

/*Style for linear "p" view*/
p.linear{
    color: lightgray;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


/*Other projects style*/
div.linearHeader5
{
    width: 100%;
    background-color: darkslategray;
    /*background-color: brown;*/
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

/*Other projects style*/
div.nav
{
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    background-color: black;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

ul.nav {
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    text-align: center;
    vertical-align: middle;
    float: left;
}

li a {
    text-align: center;
    vertical-align: middle;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page{
    text-align:left;
}

#contact {
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(72,72,72,0.2);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;

    position: relative;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:300;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

#name{
    background-image: url(../photos/UI/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(../photos/UI/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(../photos/UI/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(../photos/UI/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(../photos/UI/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:none;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #3498db;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}


/*Last container with contacts*/
#container {height: 100%; width:100%; font-size: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 24px;}
#left {width: 25%; vertical-align: middle; background: transparent;}
#middle {width: 25%; vertical-align: middle; background: transparent;}
#right {width: 25%; vertical-align: middle; background: transparent;}