body,html
{
    padding: 0;
    margin: 0;
}

html {
    background: url("../photos/background/background1.png") no-repeat center fixed;
    background-size: cover;
}

div{
    text-align: center;
}

.LI-profile-badge
{
    display: inline-block;
}

div.linear
{
    display: inline-block;
    text-align: center;
}

/*for global transparent*/
div.linearHeaderTransparent
{
    width: 100%;
    display: inline-block;
    text-align: center;
}

div.personalImage
{
    width: 100%;
    background-color: darkgray;
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
    background-image: url("../photos/projects/personal/NEF_9053.jpg");
    height:100vh;
}

h1.linearHeaderTransparent,h2.linearHeaderTransparent
{
    color: lightgray;
}

/*Exowar style*/
div.linearHeaderExowar
{
    width: 100%;
    background-color: darkslategrey;
    /*background-1image: url("../photos/projects/exowar/exowar_background.png");*/
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderExowar,h2.linearHeaderExowar
{
    color: darkgray;
}

/*Master of typing style*/
div.linearHeaderMasterOfTyping
{
    width: 100%;
    /*background-image: url("../photos/projects/masteroftyping/screen.png");*/
    background-color: slategray;
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderMasterOfTyping,h2.linearHeaderMasterOfTyping
{
    color: darkgray;
}

/*Wizard swipe style*/
div.linearHeaderWizardSwipe
{
    width: 100%;
    background-color: darkgray;
    /*background-image: url("../photos/projects/wizzardswipe/loadscreen_wide.png");*/
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderWizardSwipe,h2.linearHeaderWizardSwipe
{
    color: darkgray;
}

/*Game projects style*/
div.linearHeaderGameProjects
{
    width: 100%;
    background-color: goldenrod;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

h1.linearHeaderGameProjects,h2.linearHeaderGameProjects
{
    color: darkslategray;
}

/*None game projects style*/
div.linearHeaderNonGameProjects
{
    width: 100%;
    background-color: cornflowerblue;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
h1.linearHeaderNonGameProjects,h2.linearHeaderNonGameProjects
{
    color: darkslategray;
}


/*Other projects style*/
div.linearHeaderOtherProjects
{
    width: 100%;
    background-image: url("../photos/projects/gamemixer/Multiply.png");
    /*background-color: brown;*/
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

h1.linearHeaderOtherProjects,h2.linearHeaderExowar
{
    color: darksalmon;
}

/*Global image style*/
image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    vertical-align: middle;
}

/*Global "p" style*/
p{
    color: lightslategray;
}

/*Style for linear "p" view*/
p.linear{
    color: lightgray;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


/*Other projects style*/
div.linearHeader5
{
    width: 100%;
    background-color: darkslategray;
    /*background-color: brown;*/
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

/*Other projects style*/
div.nav
{
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    background-color: black;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

ul.nav {
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    text-align: center;
    vertical-align: middle;
    float: left;
}

li a {
    text-align: center;
    vertical-align: middle;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


/*Last container with contacts*/
#container {height: 100%; width:100%; font-size: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 24px;}
#left {width: 25%; vertical-align: middle; background: transparent;}
#middle {width: 25%; vertical-align: middle; background: transparent;}
#right {width: 25%; vertical-align: middle; background: transparent;}